@tailwind base;
@tailwind components;
@tailwind utilities;

/*Remaining to add Dark/Light mode*/
:root {
  --bg-black: #151515;
}

body {
  background-color: #151515;
  color: #fff;
  overflow-x: hidden;
}
form {
  width: 100%;
}
